In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lorengau,PG,2021-02-05 00:33:02,-2.0226,147.2712,80.80,80,100,6.96
1,1,Punta Arenas,CL,2021-02-05 00:30:55,-53.1500,-70.9167,50.00,57,0,25.32
2,2,Cururupu,BR,2021-02-05 00:34:09,-1.8283,-44.8683,76.57,88,49,4.14
3,3,New Norfolk,AU,2021-02-05 00:32:01,-42.7826,147.0587,75.99,83,75,6.91
4,4,Albany,US,2021-02-05 00:29:21,42.6001,-73.9662,32.00,59,20,4.74

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lorengau,PG,2021-02-05 00:33:02,-2.0226,147.2712,80.80,80,100,6.96
2,2,Cururupu,BR,2021-02-05 00:34:09,-1.8283,-44.8683,76.57,88,49,4.14
3,3,New Norfolk,AU,2021-02-05 00:32:01,-42.7826,147.0587,75.99,83,75,6.91
15,15,Saint-Philippe,RE,2021-02-05 00:31:48,-21.3585,55.7679,78.80,73,90,4.61
17,17,Hithadhoo,MV,2021-02-05 00:28:17,-0.6000,73.0833,82.04,77,100,11.16
19,19,San Andres,CO,2021-02-05 00:34:12,12.5847,-81.7006,78.80,89,75,11.50
24,24,Vaini,TO,2021-02-05 00:32:14,-21.2000,-175.2000,82.40,89,75,9.22
26,26,Vao,NC,2021-02-05 00:28:48,-22.6667,167.4833,78.73,87,32,20.51
31,31,Bambous Virieux,MU,2021-02-05 00:31:49,-20.3428,57.7575,79.00,78,20,6.91
32,32,Rikitea,PF,2021-02-05 00:28:08,-23.1203,-134.9692,78.69,68,98,10.80

In [14]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Lorengau      PG     80.80  -2.0226  147.2712
2          Cururupu      BR     76.57  -1.8283  -44.8683
3       New Norfolk      AU     75.99 -42.7826  147.0587
15   Saint-Philippe      RE     78.80 -21.3585   55.7679
17        Hithadhoo      MV     82.04  -0.6000   73.0833
19       San Andres      CO     78.80  12.5847  -81.7006
24            Vaini      TO     82.40 -21.2000 -175.2000
26              Vao      NC     78.73 -22.6667  167.4833
31  Bambous Virieux      MU     79.00 -20.3428   57.7575
32          Rikitea      PF     78.69 -23.1203 -134.9692

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lorengau,PG,80.80,-2.0226,147.2712,Lorengau Harbourside Hotel
2,Cururupu,BR,76.57,-1.8283,-44.8683,Pousada Través'cia
3,New Norfolk,AU,75.99,-42.7826,147.0587,The Shingles Riverside Cottages
15,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
17,Hithadhoo,MV,82.04,-0.6000,73.0833,Scoop Guest House
19,San Andres,CO,78.80,12.5847,-81.7006,Hotel Arena Blanca
24,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
26,Vao,NC,78.73,-22.6667,167.4833,Hotel Kou-Bugny
31,Bambous Virieux,MU,79.00,-20.3428,57.7575,Casa Tia Villa
32,Rikitea,PF,78.69,-23.1203,-134.9692,Pension Maro'i

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))